*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

pre {
  min-height: 100px;
  max-height: 200px;
  width: 100%;
  overflow: auto;
  background: #ddd;
  padding: 4px;
}
